.signup {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.signup__logo {
    font-size: 28px;
    margin-bottom: 20px;
}

.signup__about {
    margin-bottom: 40px;
    width: 300px;
}