.header {
    position: relative;
    height: 75px;
    background-color: #c4f2ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 25px;
}

.login {
    cursor: pointer;
    margin-right: 25px;
}

.user {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.user_img {
    border-radius: 50%;
    display: block;
    height: 60px;
    margin-right: 20px;
}