.impressions {

}

.impressions__add {
    display: block;
    text-decoration: none;
    color: black;
    height: 40px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #c4f2ff;
    line-height: 20px;
    cursor: pointer;
}

.impression {
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #dbd6d6;;
    padding: 10px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.impression_remove {
    position: absolute;
    top: 2px;
    right: 7px;
    font-size: 20px;
    cursor: pointer;
}

.impression__author {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.impression__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.impression__text {

}

.impression__map {
    overflow: hidden;
    margin-bottom: 10px;
}

.leaflet-container {
    height: 400px;
    width: 100%;
    z-index: 1000;
}

